code {
  margin: 0px 3px;
  border: 1px solid #999;
}
.post-body p a {
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
}
.post-body p a:hover {
  color: #fc6423;
  border-bottom: none;
  border-bottom: 1px solid #fc6423;
}
.post-button .btn {
  color: #555 !important;
  background-color: #fff;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.35);
  border: none !important;
  transition-property: unset;
  padding: 0px 15px;
}
.post-button .btn:hover {
  color: #fff !important;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.35);
  background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
}
